form {
  margin-top: 140px;
  margin-left: 510px;
  border-style: solid;
  border-color: royalblue;
  border-radius: 15px;
  border-width: 6px;


  width: 500px;
  padding-bottom: 10px;
  background-image: linear-gradient(150deg, #27399c, #3bdfea);
}
