<body>

<form>
  <div class="container">

    <div class="row justify-content-center">
      <div class="mb-2 text-center">
        <h1>LOGIN</h1>
      </div>
      <div class="mb-3 col-6">
        <label for="exampleInputUsu1" class="form-label">Nombre de usuario:</label>
        <input type="text" class="form-control" id="exampleInputUsu1" aria-describedby="usuarioHelp" name="usuario"
          #usuario="ngModel" [(ngModel)]="usuarioModel.usuario">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="mb-3 col-6">
        <label for="exampleInputPassword1" class="form-label">Contraseña:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" #password="ngModel"
          [(ngModel)]="usuarioModel.password">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <button type="submit" class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
      </div>
    </div>
  </div>
</form>

</body>
